<div class="p-3" style="background-color: white;">
    <div class="modal fade" id="infoPasantia">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <h5><b>Titulo:</b> &nbsp; {{pasantiaSelected?.titulo}}</h5>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <h5><b class="text-uppercase">ID:</b> &nbsp; {{pasantiaSelected?._id}}</h5>
                        </div>
                    </div>
                    
                    <div *ngIf="pasantiaSelected?.fecha_actaInicio" class="row mt-2">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <h5><b>Fecha inicio: </b>{{pasantiaSelected?.fecha_actaInicio}}</h5>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <h5><b>Semana: </b>{{pasantiaSelected?.semanas}}/24</h5>
                        </div>
                    </div>
                    <h5 class="mt-2"><b>Director: </b>{{pasantiaSelected?.tutor.nombres}} {{pasantiaSelected?.tutor.apellidos}}</h5>
                    <h5 class="mt-3"><b>Descripción:</b></h5>
                    <p class="px-3 text-justify" id="descripcionPasantia">{{pasantiaSelected?.descripcion}}</p>
                    <h5 class="mt-3"> <b>Información del estudiante:</b></h5>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                            <i class="fa fa-user-circle-o"></i> &nbsp; <small class="text-uppercase">{{ pasantiaSelected?.estudiante.nombres }} {{pasantiaSelected?.estudiante.apellidos}}</small>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                            <i class="fa fa-id-card"></i> &nbsp; <small class="text-justify">Cód:&nbsp; {{pasantiaSelected?.estudiante.codigo}}</small>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                            <i class="fa fa-id-card-o"></i> &nbsp; <small class="text-justify">ID:&nbsp; {{pasantiaSelected?.estudiante.identificacion}}</small>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                            <i class="mdi mdi-email"></i> &nbsp;<small class="text-justify">Correo:&nbsp; {{pasantiaSelected?.estudiante.correo}}</small>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                            <i class="fa fa-phone"></i> &nbsp; <small class="text-justify">Tél:&nbsp; {{pasantiaSelected?.estudiante.telefono}}</small>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                            <i class="fa fa-phone"></i> &nbsp; <small class="text-justify">EPS:&nbsp; {{pasantiaSelected?.estudiante.eps}}</small>
                        </div>
                    </div>
                    <ng-container *ngIf="pasantiaSelected?.vacante">
                        <h5 class="mt-3"> <b>Información de la vacante:</b></h5>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-7 col-lg-7">
                                <div class="vacantesInfo">
                                    <small><i class="fa fa-briefcase"></i> &nbsp; {{pasantiaSelected?.vacante.titulo}} - {{pasantiaSelected?.empresa.nombre}} </small><br>
                                    <small><i class="fa fa-globe"></i> &nbsp; {{pasantiaSelected?.vacante.ubicacion}}, &nbsp;{{pasantiaSelected?.vacante.modalidad}}</small><br>
                                    <small><i class="fa fa-code"></i> &nbsp; {{pasantiaSelected?.vacante.funciones}}</small><br>
                                    <small><i class="fa fa-money"></i>  &nbsp; Pagada: &nbsp;{{pasantiaSelected?.vacante.pagada}}</small><br>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                                <h5 class="text-uppercase"> <b>Persona a Cargo:</b></h5>
                                <i class="fa fa-user"></i> &nbsp; <small class="text-justify"> {{pasantiaSelected?.vacante.encargado.nombre}}</small><br>
                                <i class="mdi mdi-email"></i> &nbsp;<small class="text-justify">{{pasantiaSelected?.vacante.encargado.correo}}</small><br>
                                <i class="fa fa-phone"></i> &nbsp;<small class="text-justify"> {{pasantiaSelected?.vacante.encargado.telefono}}</small>
                            </div>
                        </div>
                        <div class="mt-3 ml-4">
                            <h5 class="text-uppercase"> <b>Descripción:</b></h5>
                            <p class="mt-2 ml-2">{{pasantiaSelected?.vacante.descripcion}}</p> 
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!pasantiaSelected?.vacante">
                        <h5 class="mt-3"> <b>Información de la empresa:</b> </h5>
                        <div class="row my-3">
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <small><i class="fa fa-briefcase"></i> &nbsp;{{pasantiaSelected?.empresa.nombre}} </small>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <small><i class="fa fa-globe"></i> &nbsp; {{pasantiaSelected?.empresa.ciudad}}, &nbsp;{{pasantiaSelected?.empresa.direccion}}</small>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <small><i class="fa fa-phone"></i> &nbsp; {{pasantiaSelected?.empresa.telefono}}</small>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <small><i class="fa fa-money"></i> &nbsp;{{pasantiaSelected?.empresa.naturaleza}}</small>
                            </div>    
                        </div>
                    </ng-container>
                    <div class="modal-footer">
                        <button type="button" class="btn btnSuccess" data-dismiss="modal">Cerrar <i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalJurados">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h2>Asignación de jurados</h2>
                    <hr>
                    <form ngNativeValidate #asignarJurados="ngForm" (ngSubmit)="AsignarJurados(pasantiaSelected._id, asignarJurados)">
                        <div *ngIf="pasantiaSelected" class="row">
                            <div class="col-6">
                                <label class="font-weight-bold">Primer jurado:</label>
                                <select name="jurado1" [(ngModel)]="jurado1" class="form-control custom-select" id="jurado1" (change)="checkJurados()" required>
                                    <option value="" selected>Selecciona un jurado...</option>
                                    <ng-container *ngFor="let jurado of jurados">
                                        <option *ngIf="jurado._id !== pasantiaSelected.tutor._id" value="{{jurado._id}}">{{jurado.nombres}} {{jurado.apellidos}}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <div class="col-6">
                                <label class="font-weight-bold">Segundo jurado:</label>
                                <select name="jurado2" [(ngModel)]="jurado2" class="form-control custom-select" id="jurado2" (change)="checkJurados()" required>
                                    <option value="" selected>Selecciona un jurado...</option>
                                    <ng-container *ngFor="let jurado of jurados">
                                        <option *ngIf="jurado._id !== pasantiaSelected.tutor._id" value="{{jurado._id}}">{{jurado.nombres}} {{jurado.apellidos}}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                        <p class="font-weight-bold ml-4 my-3" id="errorJurados" style="display: none;">Los jurados deben ser diferentes</p>
                        <div class="row mt-4">
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="fecha">Fecha de la sustentación:</label>
                                    <input type="date" class="form-control" ngModel #fecha="ngModel" id="fecha" name="fecha" min="{{fechamin}}" max="{{fechamax}}" required>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="form-group">
                                    <label class="font-weight-bold" for="lugar">Lugar de sustentación:</label>
                                    <input type="text" class="form-control" ngModel #lugar="ngModel" id="lugar" name="lugar" maxlength="50" placeholder="Lugar de sustentación" required>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btnInfo" [disabled]="jurado1 === '' || jurado2 === '' || jurado1 === jurado2 || asignarJurados.invalid">Asignar jurados</button>
                            <button type="button" id="btnCerrar" (click)="lugar.reset(); fecha.reset(); clearDataInfo();" class="btn btnSuccess" data-dismiss="modal">Cerrar <i class="fa fa-times"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <ng-container *ngFor="let dato of pasantias">
        <div class="row">
            <div class="col-lg-9">
                <div class="vacantes">
                    <h5 class="text-uppercase"> <b>{{ dato.estudiante.nombres }}
                            {{ dato.estudiante.apellidos }}</b></h5>
                    <small *ngIf="dato.vacante"><i class="fa fa-briefcase"></i> &nbsp;
                        {{dato.empresa.nombre}}
                    </small><br *ngIf="dato.vacante">
                    <small *ngIf="!dato.vacante"><i class="fa fa-briefcase">
                        </i> &nbsp; {{dato.empresa.nombre}}
                    </small>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="buttons">
                    <button class="btn btn-outline-info btn-sm mr-2" (click)="getDataInfo(dato)" data-toggle="modal" data-target="#infoPasantia" data-backdrop="static"><i class="fa fa-info-circle"></i></button>
                    <button type="button" (click)="getDataInfo(dato)" data-toggle="modal" data-target="#modalJurados" data-backdrop="static" class="btn btnInfo">
                        <b>Asignar jurados</b>
                    </button>
                </div>
            </div>
        </div>
        <hr>
    </ng-container>  
</div>
