<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title text-uppercase"><b> Mi Modalidad de grado </b></h3>
                <h5 class="text-uppercase"> <b> Tutor Asignado: </b></h5>
                <ng-container *ngIf="pasantia.tutor == null" class="text-success">
                    <span class="label btnDanger" style="margin-top: -3px;">
                        <b> No asignado </b></span><br>
                </ng-container>

                <ng-container *ngIf="pasantia.tutor" class="text-success">
                    <span class="label btnSuccess" style="margin-top: -25px;">
                        <b> {{pasantia?.tutor.nombres}} {{pasantia?.tutor.apellidos}}</b></span><br>
                </ng-container><br>
                <hr style="margin-top: 0px;">

                <!-- ============================================================== -->
                <!--                        MODAL INFO                              -->
                <!-- ============================================================== -->

                <div class="col-md-3" *ngIf="pasantia">
                    <div class="modal fade modal-info" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                        aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <div class="modal-body">

                                    <div class="row" style="margin-top: 15px; margin-left: 10px;">
                                        <div class="col-lg-1">
                                            <div class="vacantesImg text-center">
                                                <p class="text-center">{{ letra }}</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="vacantesInfo">
                                                <h5 class="text-uppercase"> <b>{{ nombreEst }} {{apellidoEst}}</b></h5>
                                                <small style="margin-top: -50px;"><i class="fa fa-briefcase"></i> &nbsp;
                                                    {{titulo}} - {{empresa}}
                                                </small><br>
                                                <small><i class="fa fa-globe"></i>&nbsp;
                                                    &nbsp;{{ubicacion}}, {{modalidad}}
                                                </small> <br>
                                                <small><i class="fa fa-code"></i>&nbsp; &nbsp;{{funciones}}
                                                </small>
                                            </div>
                                        </div>
                                    </div> <br>

                                    <div class="row" style=" margin-top: 15px; margin-left: 25px;">
                                        <h5 class="text-uppercase"> <b>ID de la solicitud:</b> </h5>
                                        <p class="text-justify" style="margin-top: -3px;">&nbsp; {{_id}}</p>
                                    </div>

                                    <div class="row" style="margin-left: 25px;">
                                        <h5 class="text-uppercase"> <b>Información del estudiante:</b> </h5>
                                    </div>

                                    <div class="row" style="margin-top: -3px; margin-left: 25px;">
                                        <i class="fa fa-id-card"></i> &nbsp; &nbsp;<small class="text-justify">
                                            {{codigoEst}}</small>
                                    </div>
                                    <div class="row" style="margin-left: 25px;">
                                        <i class="fa fa-id-card-o"></i> &nbsp; &nbsp;<small class="text-justify">
                                            {{idEst}}</small>
                                    </div>

                                    <div class="row" style="margin-top: -3px; margin-left: 25px;">
                                        <i class="mdi mdi-email"></i> &nbsp; &nbsp;<small class="text-justify">
                                            {{correoEst}}</small>
                                    </div>
                                    <div class="row" style="margin-left: 25px;">
                                        <i class="fa  fa-phone"></i> &nbsp; &nbsp;<small class="text-justify">
                                            {{telefonoEst}}</small>
                                    </div>


                                    <div class="row" style=" margin-top: 15px; margin-left: 25px;">
                                        <h5 class="text-uppercase"> <b>Persona a Cargo:</b> </h5>
                                    </div>

                                    <div class="row" style="margin-left: 25px;">
                                        <p class="text-justify"> {{personaCargo}}</p>
                                    </div>

                                    <div class="row" style="margin-top: -13px; margin-left: 25px;">
                                        <i class="mdi mdi-email"></i> &nbsp; &nbsp;<small class="text-justify">
                                            {{correo}}</small>
                                    </div>
                                    <div class="row" style="margin-left: 25px;">
                                        <i class="fa  fa-phone"></i> &nbsp; &nbsp; &nbsp;<small class="text-justify">
                                            {{telefono}}</small>
                                    </div>

                                    <br>


                                    <div class="row" style="margin-left: 10px;">

                                        <div class="col-md-4">
                                            <h5 class="text-uppercase"> <b>Estado:</b> </h5>
                                            <ng-container *ngIf="pasantia.estado == 'Enviada'" class="text-success">
                                                <span class="label btnInfo"> <b> {{ pasantia.estado }} </b></span>
                                            </ng-container>

                                            <ng-container *ngIf="pasantia.estado == 'Aprobada'" class="text-success">
                                                <span class="label btnSuccess"> <b> {{ pasantia.estado }} </b></span>
                                            </ng-container>

                                            <ng-container *ngIf="pasantia.estado == 'Rechazada'" class="text-success">
                                                <span class="label btnDanger"> <b> {{ pasantia.estado }} </b></span>
                                            </ng-container>
                                        </div>


                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <h5 class="text-uppercase"> <b>Notas:</b> </h5>
                                                <p class="text-justify">{{notas}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btnSuccess waves-effect text-left"
                                            data-dismiss="modal">Cerrar <i class="fa fa-times"></i></button>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <!-- ============================================================== -->
                <!--                   MODAL PROPUESTA                              -->
                <!-- ============================================================== -->
                <div class="col-md-3" *ngIf="pasantia?.documento_propuesta">
                    <div class="modal fade modal-propuesta" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <div class="modal-body">

                                    <div class="row" style="margin-top: 15px; margin-left: 10px;">
                                        <div class="col-lg-1">
                                            <div class="vacantesImg text-center">
                                                <p class="text-center">{{ letra }}</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="vacantesInfo">
                                                <h5 class="text-uppercase"> <b>{{ nombreEst }} {{apellidoEst}}</b></h5>
                                                <small style="margin-top: -50px;"><i class="fa fa-briefcase"></i> &nbsp;
                                                    {{titulo}} - {{empresa}}
                                                </small><br>
                                                <small><i class="fa fa-globe"></i>&nbsp;
                                                    &nbsp;{{ubicacion}}, {{modalidad}}
                                                </small> <br>
                                                <small><i class="fa fa-code"></i>&nbsp; &nbsp;{{funciones}}
                                                </small>
                                            </div>
                                        </div>
                                    </div> <br>

                                    <div class="row" style=" margin-top: 15px; margin-left: 25px;">
                                        <h5 class="text-uppercase"> <b>ID de la solicitud:</b> </h5>
                                        <p class="text-justify" style="margin-top: -3px;">&nbsp; {{_id}}</p>
                                    </div>

                                    <div class="row" style="margin-left: 25px;">
                                        <h5 class="text-uppercase"> <b>Documento de Propuesta de Pasantía:</b> </h5>
                                    </div>

                                    <div class="row" style="margin-top: -3px; margin-left: 25px;">
                                        <i class="fa fa-file-pdf-o"></i> &nbsp; &nbsp;<small class="text-justify">
                                            {{pasantiaSup?.documento_propuesta}}</small>
                                    </div>

                                    <div class="row" style=" margin-top: 15px; margin-left: 25px;">
                                        <h5 class="text-uppercase"> <b>Tutor de Pasantía:</b> </h5>
                                    </div>

                                    <ng-container *ngIf="!pasantia?.tutor">
                                        <div class="row" style="margin-left: 25px; margin-top: 0px;">
                                            <p class="text-justify"> <b>No Asignado Aún</b></p>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="pasantia?.tutor">
                                        <div class="row" style="margin-left: 25px; margin-top: 0px;">
                                            <p class="text-justify"> <b>{{pasantia.tutor.nombres}}
                                                    {{pasantia.tutor.apellidos}}</b></p>
                                        </div>
                                    </ng-container>


                                    <div class="row" style="margin-left: 10px;">

                                        <div class="col-md-4">
                                            <h5 class="text-uppercase"> <b>Estado de la Propuesta:</b> </h5>
                                            <ng-container *ngIf="pasantia.estado_propuesta == 'Enviada'"
                                                class="text-success">
                                                <span class="label btnInfo"> <b> {{ pasantiaSup?.estado_propuesta }}
                                                    </b></span>
                                            </ng-container>

                                            <ng-container *ngIf="pasantia.estado_propuesta == 'Aprobada'"
                                                class="text-success">
                                                <span class="label btnSuccess"> <b> {{ pasantiaSup?.estado_propuesta }}
                                                    </b></span>
                                            </ng-container>

                                            <ng-container *ngIf="pasantia.estado_propuesta == 'Rechazada'"
                                                class="text-success">
                                                <span class="label btnDanger"> <b> {{ pasantiaSup?.estado_propuesta }}
                                                    </b></span>
                                            </ng-container>
                                        </div>


                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <h5 class="text-uppercase"> <b>Notas:</b> </h5>
                                                <p class="text-justify">{{pasantiaSup?.notas_propuesta}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btnSuccess waves-effect text-left"
                                            data-dismiss="modal">Cerrar <i class="fa fa-times"></i></button>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <!-- ============================================================== -->
                <!--                   MODAL INFORME 7                              -->
                <!-- ============================================================== -->
                <div class="col-md-3" *ngIf="pasantia?.documento_informe7">
                    <div class="modal fade modal-informe7" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <div class="modal-body">

                                    <div class="row" style="margin-top: 15px; margin-left: 10px;">
                                        <div class="col-lg-1">
                                            <div class="vacantesImg text-center">
                                                <p class="text-center">{{ letra }}</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="vacantesInfo">
                                                <h5 class="text-uppercase"> <b>{{ nombreEst }} {{apellidoEst}}</b></h5>
                                                <small style="margin-top: -50px;"><i class="fa fa-briefcase"></i> &nbsp;
                                                    {{titulo}} - {{empresa}}
                                                </small><br>
                                                <small><i class="fa fa-globe"></i>&nbsp;
                                                    &nbsp;{{ubicacion}}, {{modalidad}}
                                                </small> <br>
                                                <small><i class="fa fa-code"></i>&nbsp; &nbsp;{{funciones}}
                                                </small>
                                            </div>
                                        </div>
                                    </div> <br>

                                    <div class="row" style=" margin-top: 15px; margin-left: 25px;">
                                        <h5 class="text-uppercase"> <b>ID de la solicitud:</b> </h5>
                                        <p class="text-justify" style="margin-top: -3px;">&nbsp; {{_id}}</p>
                                    </div>

                                    <div class="row" style="margin-left: 25px;">
                                        <h5 class="text-uppercase"> <b>Documento de Informe:</b> </h5>
                                    </div>

                                    <div class="row" style="margin-top: -3px; margin-left: 25px;">
                                        <i class="fa fa-file-pdf-o"></i> &nbsp; &nbsp;<small class="text-justify">
                                            {{pasantiaSup?.documento_informe7}}</small>
                                    </div>

                                    <div class="row" style=" margin-top: 15px; margin-left: 25px;">
                                        <h5 class="text-uppercase"> <b>Tutor de Pasantía:</b> </h5>
                                    </div>

                                    <ng-container *ngIf="!pasantia?.tutor">
                                        <div class="row" style="margin-left: 25px; margin-top: 0px;">
                                            <p class="text-justify"> <b>No Asignado Aún</b></p>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="pasantia?.tutor">
                                        <div class="row" style="margin-left: 25px; margin-top: 0px;">
                                            <p class="text-justify"> <b>{{pasantia.tutor.nombres}}
                                                    {{pasantia.tutor.apellidos}}</b></p>
                                        </div>
                                    </ng-container>


                                    <div class="row" style="margin-left: 10px;">

                                        <div class="col-md-4">
                                            <h5 class="text-uppercase"> <b>Estado del Informe:</b> </h5>
                                            <ng-container *ngIf="pasantia.estado_informe7 == 'Enviado'"
                                                class="text-success">
                                                <span class="label btnInfo"> <b> {{ pasantiaSup?.estado_informe7 }}
                                                    </b></span>
                                            </ng-container>

                                            <ng-container *ngIf="pasantia.estado_informe7 == 'Aprobado'"
                                                class="text-success">
                                                <span class="label btnSuccess"> <b> {{ pasantiaSup?.estado_informe7 }}
                                                    </b></span>
                                            </ng-container>

                                            <ng-container *ngIf="pasantia.estado_informe7 == 'Rechazado'"
                                                class="text-success">
                                                <span class="label btnDanger"> <b> {{ pasantiaSup?.estado_informe7 }}
                                                    </b></span>
                                            </ng-container>
                                        </div>


                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <h5 class="text-uppercase"> <b>Notas:</b> </h5>
                                                <p class="text-justify">{{pasantiaSup?.notas_informe7}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btnSuccess waves-effect text-left"
                                            data-dismiss="modal">Cerrar <i class="fa fa-times"></i></button>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- ============================================================== -->
                <!--                   MODAL INFORME 14                             -->
                <!-- ============================================================== -->
                <div class="col-md-3" *ngIf="pasantia?.documento_informe14">
                    <div class="modal fade modal-informe14" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <div class="modal-body">

                                    <div class="row" style="margin-top: 15px; margin-left: 10px;">
                                        <div class="col-lg-1">
                                            <div class="vacantesImg text-center">
                                                <p class="text-center">{{ letra }}</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="vacantesInfo">
                                                <h5 class="text-uppercase"> <b>{{ nombreEst }} {{apellidoEst}}</b></h5>
                                                <small style="margin-top: -50px;"><i class="fa fa-briefcase"></i> &nbsp;
                                                    {{titulo}} - {{empresa}}
                                                </small><br>
                                                <small><i class="fa fa-globe"></i>&nbsp;
                                                    &nbsp;{{ubicacion}}, {{modalidad}}
                                                </small> <br>
                                                <small><i class="fa fa-code"></i>&nbsp; &nbsp;{{funciones}}
                                                </small>
                                            </div>
                                        </div>
                                    </div> <br>

                                    <div class="row" style=" margin-top: 15px; margin-left: 25px;">
                                        <h5 class="text-uppercase"> <b>ID de la solicitud:</b> </h5>
                                        <p class="text-justify" style="margin-top: -3px;">&nbsp; {{_id}}</p>
                                    </div>

                                    <div class="row" style="margin-left: 25px;">
                                        <h5 class="text-uppercase"> <b>Documento de Informe:</b> </h5>
                                    </div>

                                    <div class="row" style="margin-top: -3px; margin-left: 25px;">
                                        <i class="fa fa-file-pdf-o"></i> &nbsp; &nbsp;<small class="text-justify">
                                            {{pasantiaSup?.documento_informe14}}</small>
                                    </div>

                                    <div class="row" style=" margin-top: 15px; margin-left: 25px;">
                                        <h5 class="text-uppercase"> <b>Tutor de Pasantía:</b> </h5>
                                    </div>

                                    <ng-container *ngIf="!pasantia?.tutor">
                                        <div class="row" style="margin-left: 25px; margin-top: 0px;">
                                            <p class="text-justify"> <b>No Asignado Aún</b></p>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="pasantia?.tutor">
                                        <div class="row" style="margin-left: 25px; margin-top: 0px;">
                                            <p class="text-justify"> <b>{{pasantia.tutor.nombres}}
                                                    {{pasantia.tutor.apellidos}}</b></p>
                                        </div>
                                    </ng-container>


                                    <div class="row" style="margin-left: 10px;">

                                        <div class="col-md-4">
                                            <h5 class="text-uppercase"> <b>Estado del Informe:</b> </h5>
                                            <ng-container *ngIf="pasantia.estado_informe14 == 'Enviado'"
                                                class="text-success">
                                                <span class="label btnInfo"> <b> {{ pasantiaSup?.estado_informe14 }}
                                                    </b></span>
                                            </ng-container>

                                            <ng-container *ngIf="pasantia.estado_informe14 == 'Aprobado'"
                                                class="text-success">
                                                <span class="label btnSuccess"> <b> {{ pasantiaSup?.estado_informe14 }}
                                                    </b></span>
                                            </ng-container>

                                            <ng-container *ngIf="pasantia.estado_informe14 == 'Rechazado'"
                                                class="text-success">
                                                <span class="label btnDanger"> <b> {{ pasantiaSup?.estado_informe14 }}
                                                    </b></span>
                                            </ng-container>
                                        </div>


                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <h5 class="text-uppercase"> <b>Notas:</b> </h5>
                                                <p class="text-justify">{{pasantiaSup?.notas_informe14}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btnSuccess waves-effect text-left"
                                            data-dismiss="modal">Cerrar <i class="fa fa-times"></i></button>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <!-- ============================================================== -->
                <!--                   MODAL INFORME FINAL                         -->
                <!-- ============================================================== -->
                <div class="col-md-3" *ngIf="pasantia?.documento_informeFinal">
                    <div class="modal fade modal-informeFinal" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <div class="modal-body">

                                    <div class="row" style="margin-top: 15px; margin-left: 10px;">
                                        <div class="col-lg-1">
                                            <div class="vacantesImg text-center">
                                                <p class="text-center">{{ letra }}</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="vacantesInfo">
                                                <h5 class="text-uppercase"> <b>{{ nombreEst }} {{apellidoEst}}</b></h5>
                                                <small style="margin-top: -50px;"><i class="fa fa-briefcase"></i> &nbsp;
                                                    {{titulo}} - {{empresa}}
                                                </small><br>
                                                <small><i class="fa fa-globe"></i>&nbsp;
                                                    &nbsp;{{ubicacion}}, {{modalidad}}
                                                </small> <br>
                                                <small><i class="fa fa-code"></i>&nbsp; &nbsp;{{funciones}}
                                                </small>
                                            </div>
                                        </div>
                                    </div> <br>

                                    <div class="row" style=" margin-top: 15px; margin-left: 25px;">
                                        <h5 class="text-uppercase"> <b>ID de la solicitud:</b> </h5>
                                        <p class="text-justify" style="margin-top: -3px;">&nbsp; {{_id}}</p>
                                    </div>

                                    <div class="row" style="margin-left: 25px;">
                                        <h5 class="text-uppercase"> <b>Documento de Informe:</b> </h5>
                                    </div>

                                    <div class="row" style="margin-top: -3px; margin-left: 25px;">
                                        <i class="fa fa-file-pdf-o"></i> &nbsp; &nbsp;<small class="text-justify">
                                            {{pasantiaSup?.documento_informeFinal}}</small>
                                    </div>

                                    <div class="row" style=" margin-top: 15px; margin-left: 25px;">
                                        <h5 class="text-uppercase"> <b>Tutor de Pasantía:</b> </h5>
                                    </div>

                                    <ng-container *ngIf="!pasantia?.tutor">
                                        <div class="row" style="margin-left: 25px; margin-top: 0px;">
                                            <p class="text-justify"> <b>No Asignado Aún</b></p>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="pasantia?.tutor">
                                        <div class="row" style="margin-left: 25px; margin-top: 0px;">
                                            <p class="text-justify"> <b>{{pasantia.tutor.nombres}}
                                                    {{pasantia.tutor.apellidos}}</b></p>
                                        </div>
                                    </ng-container>


                                    <div class="row" style="margin-left: 10px;">

                                        <div class="col-md-4">
                                            <h5 class="text-uppercase"> <b>Estado del Informe:</b> </h5>
                                            <ng-container *ngIf="pasantia.estado_informeFinal == 'Enviado'"
                                                class="text-success">
                                                <span class="label btnInfo"> <b> {{ pasantiaSup?.estado_informeFinal }}
                                                    </b></span>
                                            </ng-container>

                                            <ng-container *ngIf="pasantia.estado_informeFinal == 'Aprobado'"
                                                class="text-success">
                                                <span class="label btnSuccess"> <b>
                                                        {{ pasantiaSup?.estado_informeFinal }}
                                                    </b></span>
                                            </ng-container>

                                            <ng-container *ngIf="pasantia.estado_informeFinal == 'Rechazado'"
                                                class="text-success">
                                                <span class="label btnDanger"> <b>
                                                        {{ pasantiaSup?.estado_informeFinal }}
                                                    </b></span>
                                            </ng-container>
                                        </div>


                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <h5 class="text-uppercase"> <b>Notas:</b> </h5>
                                                <p class="text-justify">{{pasantiaSup?.notas_informeFinal}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btnSuccess waves-effect text-left"
                                            data-dismiss="modal">Cerrar <i class="fa fa-times"></i></button>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <!-- ============================================================== -->
                <!--                        INFO SOLICITUD                          -->
                <!-- ============================================================== -->
                <h4 class="card-title text-uppercase" *ngIf="!pasantia"><b> 1. Pre-Inscripción
                        &nbsp;<small style="color:#77181C"><b>No Aplica</b> </small></b></h4>

                <h4 class="card-title text-uppercase" *ngIf="pasantia?.estado === 'Aprobada'"><b> 1. Pre-Inscripción
                        &nbsp;<i class="fa fa-check" style="color: green;"></i></b></h4>

                <h4 class="card-title text-uppercase" *ngIf="pasantia?.estado === 'Rechazada'"><b> 1. Pre-Inscripción
                        &nbsp;<i class="fa fa-times" style="color:#77181C"></i></b></h4>

                <h4 class="card-title text-uppercase" *ngIf="pasantia?.estado === 'Enviada'"><b> 1. Pre-Inscripción
                        &nbsp;<i class="mdi mdi-update" style="color:#C7B363"></i></b></h4>

                <br>
                <div class="row" *ngIf="pasantia">

                    <ng-container>
                        <div class="col-lg-1">
                            <div class="vacantesImg text-center">
                                <p class="text-center">{{pasantia?.vacante.letra}}</p>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="vacantes">
                                <h5 class="text-uppercase"> <b>{{ pasantia?.estudiante.nombres }}
                                        {{ pasantia?.estudiante.apellidos }}</b></h5>
                                <small style="margin-top: -50px;"><i class="fa fa-briefcase"></i> &nbsp;
                                    {{ pasantia?.vacante.titulo }} - {{pasantia?.empresa.nombre}}
                                </small><br>
                                <small><i class="fa fa-globe"></i>&nbsp;
                                    &nbsp;{{pasantia?.vacante.ubicacion}},
                                    {{pasantia?.vacante.modalidad}}
                                </small> <br>
                                <small><i class="mdi mdi-account-card-details"></i>&nbsp;
                                    &nbsp;{{pasantia?._id}}
                                </small>
                            </div>
                        </div>

                        <div class="col-lg-4">

                            <h5 class="text-uppercase"><b>Estado de la Solicitud:</b></h5>
                            <ng-container *ngIf="pasantia?.estado == 'Enviada'" class="text-success">
                                <span class="label btnInfo"> <b> {{ pasantia?.estado }} </b></span>
                            </ng-container>

                            <ng-container *ngIf="pasantia?.estado == 'Aprobada'" class="text-success">
                                <span class="label btnSuccess"> <b> {{ pasantia?.estado }} </b></span>
                            </ng-container>

                            <ng-container *ngIf="pasantia?.estado == 'Rechazada'" class="text-success">
                                <span class="label btnDanger"> <b> {{ pasantia?.estado }} </b></span>
                            </ng-container>
                            <br>
                        </div>

                        <div class="col-lg-2">
                            <div class="buttons">

                                <button type="button" (click)="getDataInfo(pasantia)" data-toggle="modal"
                                    data-target=".modal-info" class="btn btnInfo waves-effect text-left"><b>Más Info
                                        <i class="fa fa-info-circle"></i></b></button>
                            </div>

                        </div>
                    </ng-container>

                </div><br><br>


                <!-- ============================================================== -->
                <!--                        INFO PROPUESTA                          -->
                <!-- ============================================================== -->
                <h4 class="card-title text-uppercase" *ngIf="!pasantia?.estado_propuesta"><b> 2.
                        Propuesta de Modalidad
                    </b></h4>

                <h4 class="card-title text-uppercase" *ngIf="pasantia.estado_propuesta === 'Aprobada'"><b> 2.
                        Propuesta de Modalidad
                        &nbsp;<i class="fa fa-check" style="color: green;"></i></b></h4>

                <h4 class="card-title text-uppercase" *ngIf="pasantia.estado_propuesta === 'Rechazada'"><b> 2.
                        Propuesta de Modalidad
                        &nbsp;<i class="fa fa-times" style="color:#77181C"></i></b></h4>

                <h4 class="card-title text-uppercase" *ngIf="pasantia.estado_propuesta === 'Enviada'"><b> 2.
                        Propuesta de Modalidad
                        &nbsp;<i class="mdi mdi-update" style="color:#C7B363"></i></b></h4>

                <br>

                <ng-container *ngIf="pasantia?.documento_propuesta">
                    <div class="row">
                        <ng-container>
                            <div class="col-lg-1">
                                <div class="vacantesImg text-center">
                                    <p class="text-center">{{pasantia.vacante.letra}}</p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="vacantes">
                                    <h5 class="text-uppercase"> <b>{{ pasantia.estudiante.nombres }}
                                            {{ pasantia.estudiante.apellidos }}</b></h5>
                                    <small style="margin-top: -50px;"><i class="fa fa-briefcase"></i> &nbsp;
                                        {{ pasantia.vacante.titulo }} - {{pasantia.empresa.nombre}}
                                    </small><br>
                                    <small><i class="fa fa-file-pdf-o"></i>&nbsp;
                                        &nbsp;{{pasantia.documento_propuesta}}
                                    </small> <br>
                                </div>
                            </div>

                            <div class="col-lg-4">

                                <h5 class="text-uppercase"><b>Estado de la Propuesta:</b></h5>
                                <ng-container *ngIf="pasantia.estado_propuesta == 'Enviada'" class="text-success">
                                    <span class="label btnInfo"> <b> {{ pasantia.estado_propuesta }} </b></span>
                                </ng-container>

                                <ng-container *ngIf="pasantia.estado_propuesta == 'Aprobada'" class="text-success">
                                    <span class="label btnSuccess"> <b> {{ pasantia.estado_propuesta }} </b></span>
                                </ng-container>

                                <ng-container *ngIf="pasantia.estado_propuesta == 'Rechazada'" class="text-success">
                                    <span class="label btnDanger"> <b> {{ pasantia.estado_propuesta }} </b></span>
                                </ng-container>
                                <br>
                            </div>

                            <div class="col-lg-2">
                                <div class="buttons">

                                    <button type="button" (click)="getDataInfo(pasantia)" data-toggle="modal"
                                        data-target=".modal-propuesta" class="btn btnInfo waves-effect text-left"><b>Más
                                            Info
                                            <i class="fa fa-info-circle"></i></b></button>
                                </div>

                            </div>
                        </ng-container>
                    </div>
                </ng-container>
                <br><br>


                <!-- ============================================================== -->
                <!--                        INFO INFORME 7                          -->
                <!-- ============================================================== -->
                <h4 class="card-title text-uppercase" *ngIf="!pasantia?.estado_informe7"><b> 3.
                        Informe de la Semana 7
                    </b></h4>

                <h4 class="card-title text-uppercase" *ngIf="pasantia.estado_informe7 === 'Aprobado'"><b> 3.
                        Informe de la Semana 7
                        &nbsp;<i class="fa fa-check" style="color: green;"></i></b></h4>

                <h4 class="card-title text-uppercase" *ngIf="pasantia.estado_informe7 === 'Rechazado'"><b> 3.
                        Informe de la Semana 7
                        &nbsp;<i class="fa fa-times" style="color:#77181C"></i></b></h4>

                <h4 class="card-title text-uppercase" *ngIf="pasantia.estado_informe7 === 'Enviado'"><b> 3.
                        Informe de la Semana 7
                        &nbsp;<i class="mdi mdi-update" style="color:#C7B363"></i></b></h4>

                <br>

                <ng-container *ngIf="pasantia?.documento_informe7">
                    <div class="row">
                        <ng-container>
                            <div class="col-lg-1">
                                <div class="vacantesImg text-center">
                                    <p class="text-center">{{pasantia.vacante.letra}}</p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="vacantes">
                                    <h5 class="text-uppercase"> <b>{{ pasantia.estudiante.nombres }}
                                            {{ pasantia.estudiante.apellidos }}</b></h5>
                                    <small style="margin-top: -50px;"><i class="fa fa-briefcase"></i> &nbsp;
                                        {{ pasantia.vacante.titulo }} - {{pasantia.empresa.nombre}}
                                    </small><br>
                                    <small><i class="fa fa-file-pdf-o"></i>&nbsp;
                                        &nbsp;{{pasantia.documento_informe7}}
                                    </small> <br>
                                </div>
                            </div>

                            <div class="col-lg-4">

                                <h5 class="text-uppercase"><b>Estado del Informe:</b></h5>
                                <ng-container *ngIf="pasantia.estado_informe7 == 'Enviado'" class="text-success">
                                    <span class="label btnInfo"> <b> {{ pasantia.estado_informe7 }} </b></span>
                                </ng-container>

                                <ng-container *ngIf="pasantia.estado_informe7 == 'Aprobado'" class="text-success">
                                    <span class="label btnSuccess"> <b> {{ pasantia.estado_informe7 }} </b></span>
                                </ng-container>

                                <ng-container *ngIf="pasantia.estado_informe7 == 'Rechazado'" class="text-success">
                                    <span class="label btnDanger"> <b> {{ pasantia.estado_informe7 }} </b></span>
                                </ng-container>
                                <br>
                            </div>

                            <div class="col-lg-2">
                                <div class="buttons">

                                    <button type="button" (click)="getDataInfo(pasantia)" data-toggle="modal"
                                        data-target=".modal-informe7" class="btn btnInfo waves-effect text-left"><b>Más
                                            Info
                                            <i class="fa fa-info-circle"></i></b></button>
                                </div>

                            </div>
                        </ng-container>
                    </div>
                </ng-container><br><br>


                <!-- ============================================================== -->
                <!--                        INFO INFORME 14                          -->
                <!-- ============================================================== -->
                <h4 class="card-title text-uppercase" *ngIf="!pasantia?.estado_informe14"><b> 4.
                        Informe de la Semana 14
                    </b></h4>

                <h4 class="card-title text-uppercase" *ngIf="pasantia.estado_informe14 === 'Aprobado'"><b> 4.
                        Informe de la Semana 14
                        &nbsp;<i class="fa fa-check" style="color: green;"></i></b></h4>

                <h4 class="card-title text-uppercase" *ngIf="pasantia.estado_informe14 === 'Rechazado'"><b> 4.
                        Informe de la Semana 14
                        &nbsp;<i class="fa fa-times" style="color:#77181C"></i></b></h4>

                <h4 class="card-title text-uppercase" *ngIf="pasantia.estado_informe14 === 'Enviado'"><b> 4.
                        Informe de la Semana 14
                        &nbsp;<i class="mdi mdi-update" style="color:#C7B363"></i></b></h4>

                <br>

                <ng-container *ngIf="pasantia?.documento_informe14">
                    <div class="row">
                        <ng-container>
                            <div class="col-lg-1">
                                <div class="vacantesImg text-center">
                                    <p class="text-center">{{pasantia.vacante.letra}}</p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="vacantes">
                                    <h5 class="text-uppercase"> <b>{{ pasantia.estudiante.nombres }}
                                            {{ pasantia.estudiante.apellidos }}</b></h5>
                                    <small style="margin-top: -50px;"><i class="fa fa-briefcase"></i> &nbsp;
                                        {{ pasantia.vacante.titulo }} - {{pasantia.empresa.nombre}}
                                    </small><br>
                                    <small><i class="fa fa-file-pdf-o"></i>&nbsp;
                                        &nbsp;{{pasantia.documento_informe14}}
                                    </small> <br>
                                </div>
                            </div>

                            <div class="col-lg-4">

                                <h5 class="text-uppercase"><b>Estado del Informe:</b></h5>
                                <ng-container *ngIf="pasantia.estado_informe14 == 'Enviado'" class="text-success">
                                    <span class="label btnInfo"> <b> {{ pasantia.estado_informe14 }} </b></span>
                                </ng-container>

                                <ng-container *ngIf="pasantia.estado_informe14 == 'Aprobado'" class="text-success">
                                    <span class="label btnSuccess"> <b> {{ pasantia.estado_informe14 }} </b></span>
                                </ng-container>

                                <ng-container *ngIf="pasantia.estado_informe14 == 'Rechazado'" class="text-success">
                                    <span class="label btnDanger"> <b> {{ pasantia.estado_informe14 }} </b></span>
                                </ng-container>
                                <br>
                            </div>

                            <div class="col-lg-2">
                                <div class="buttons">

                                    <button type="button" (click)="getDataInfo(pasantia)" data-toggle="modal"
                                        data-target=".modal-informe14" class="btn btnInfo waves-effect text-left"><b>Más
                                            Info
                                            <i class="fa fa-info-circle"></i></b></button>
                                </div>

                            </div>
                        </ng-container>
                    </div>
                </ng-container> <br><br>


                <!-- ============================================================== -->
                <!--                        INFO INFORME FINAL                      -->
                <!-- ============================================================== -->
                <h4 class="card-title text-uppercase" *ngIf="!pasantia?.estado_informeFinal"><b> 5.
                        Informe Final
                    </b></h4>

                <h4 class="card-title text-uppercase" *ngIf="pasantia.estado_informeFinal === 'Aprobado'"><b> 5.
                        Informe Final
                        &nbsp;<i class="fa fa-check" style="color: green;"></i></b></h4>

                <h4 class="card-title text-uppercase" *ngIf="pasantia.estado_informeFinal === 'Rechazado'"><b> 5.
                        Informe Final
                        &nbsp;<i class="fa fa-times" style="color:#77181C"></i></b></h4>

                <h4 class="card-title text-uppercase" *ngIf="pasantia.estado_informeFinal === 'Enviado'"><b> 5.
                        Informe Final
                        &nbsp;<i class="mdi mdi-update" style="color:#C7B363"></i></b></h4>

                <br>

                <ng-container *ngIf="pasantia?.documento_informeFinal">
                    <div class="row">
                        <ng-container>
                            <div class="col-lg-1">
                                <div class="vacantesImg text-center">
                                    <p class="text-center">{{pasantia.vacante.letra}}</p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="vacantes">
                                    <h5 class="text-uppercase"> <b>{{ pasantia.estudiante.nombres }}
                                            {{ pasantia.estudiante.apellidos }}</b></h5>
                                    <small style="margin-top: -50px;"><i class="fa fa-briefcase"></i> &nbsp;
                                        {{ pasantia.vacante.titulo }} - {{pasantia.empresa.nombre}}
                                    </small><br>
                                    <small><i class="fa fa-file-pdf-o"></i>&nbsp;
                                        &nbsp;{{pasantia.documento_informeFinal}}
                                    </small> <br>
                                </div>
                            </div>

                            <div class="col-lg-4">

                                <h5 class="text-uppercase"><b>Estado del Informe:</b></h5>
                                <ng-container *ngIf="pasantia.estado_informeFinal == 'Enviado'" class="text-success">
                                    <span class="label btnInfo"> <b> {{ pasantia.estado_informeFinal }} </b></span>
                                </ng-container>

                                <ng-container *ngIf="pasantia.estado_informeFinal == 'Aprobado'" class="text-success">
                                    <span class="label btnSuccess"> <b> {{ pasantia.estado_informeFinal }} </b></span>
                                </ng-container>

                                <ng-container *ngIf="pasantia.estado_informeFinal == 'Rechazado'" class="text-success">
                                    <span class="label btnDanger"> <b> {{ pasantia.estado_informeFinal }} </b></span>
                                </ng-container>
                                <br>
                            </div>

                            <div class="col-lg-2">
                                <div class="buttons">

                                    <button type="button" (click)="getDataInfo(pasantia)" data-toggle="modal"
                                        data-target=".modal-informeFinal"
                                        class="btn btnInfo waves-effect text-left"><b>Más
                                            Info
                                            <i class="fa fa-info-circle"></i></b></button>
                                </div>

                            </div>
                        </ng-container>
                    </div>
                </ng-container>


            </div>
        </div>
    </div>
</div>