<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title text-uppercase"><b> Todas las Empresas </b></h3>
                <hr>

                <div class="col-md-3">
                    <!-- modal content -->
                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title text-capitalize" id="myLargeModalLabel"> <b> Añade una
                                            Empresa</b> </h4>
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">


                                    <form ngNativeValidate #f="ngForm" (ngSubmit)="postEmpresa(f)" class="form-horizontal" id="loginform">
                                        
                                        <div class="form-group">
                                            <label class="control-label">NIT de la Empresa:</label>
                                            <input ngModel name="nit" type="text" id="nit"
                                                class="form-control" placeholder="NIT" required>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Nombre de la Empresa:</label>
                                                    <input ngModel name="nombre" type="text" id="firstName"
                                                        class="form-control" placeholder="Nombre" required>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Dirección:</label>
                                                    <input ngModel name="direccion" type="text" id="firstName"
                                                        class="form-control" placeholder="Direccion" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Teléfono de la Empresa</label>
                                                    <input ngModel name="telEmpresa" type="text" id="firstName"
                                                        class="form-control" placeholder="Teléfono" required>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Naturaleza:</label>
                                                    <select ngModel name="naturaleza" class="form-control custom-select"
                                                        required>
                                                        <option value="Pública">Pública</option>
                                                        <option value="Privada">Privada</option>
                                                        <option value="Mixta">Mixta</option>
                                                        <option value="Otra">Otra</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Actividad Económica:</label>
                                                    <input ngModel name="actividadEc" type="text" id="firstName"
                                                        class="form-control" placeholder="Actividad" required>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <h4><b>Datos de la Persona a Cargo</b></h4>
                                        <hr>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Persona a Cargo:</label>
                                                    <input ngModel name="persona" type="text" id="firstName"
                                                        class="form-control" placeholder="Nombre" required>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Cedula:</label>
                                                    <input ngModel name="cedula" type="text" id="cedula"
                                                        class="form-control" placeholder="Cedula" required>
                                                </div>
                                            </div>
                                        </div>    

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Puesto:</label>
                                                    <input ngModel name="puesto" type="text" id="firstName"
                                                        class="form-control" placeholder="Puesto" required>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Teléfono:</label>
                                                    <input ngModel name="telPersona" type="text" id="firstName"
                                                        class="form-control" placeholder="Teléfono" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Correo Electrónico:</label>
                                                <input ngModel name="correo" type="text" id="firstName"
                                                    class="form-control" placeholder="Correo" required>
                                            </div>
                                        </div>


                                        <div class="modal-footer">
                                            <button type="button" class="btn btnDanger waves-effect text-left"
                                                data-dismiss="modal">Cancelar <i class="fa fa-times"></i></button>
                                            <button type="submit" class="btn btnSuccess waves-effect text-left">Añadir
                                                <i class="fa fa-plus"></i></button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                </div>




                <!-- Modal Actualizar  -->
                <div class="col-md-3">
                    <!-- modal content -->
                    <div class="modal fade modal-actualizar" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title text-capitalize" id="myLargeModalLabel"> <b> Actualiza
                                            la Empresa: {{nombre}}</b> </h4>
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <form ngNativeValidate #actualizar="ngForm" (ngSubmit)="putEmpresa(actualizar)"
                                        class="form-horizontal" id="loginform">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Nombre de la Empresa:</label>
                                                    <input ngModel="{{nombre}}" name="nombre" type="text" id="firstName"
                                                        class="form-control" placeholder="Nombre" required>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Dirección:</label>
                                                    <input [(ngModel)]="direccion" name="direccion" type="text"
                                                        id="firstName" class="form-control" placeholder="Direccion"
                                                        required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Teléfono de la Empresa</label>
                                                    <input [(ngModel)]="telefono" name="telEmpresa" type="text"
                                                        id="firstName" class="form-control" placeholder="Teléfono"
                                                        required>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Naturaleza:</label>
                                                    <select [(ngModel)]="naturaleza" name="naturaleza"
                                                        class="form-control custom-select" required>
                                                        <option value="Pública">Pública</option>
                                                        <option value="Privada">Privada</option>
                                                        <option value="Mixta">Mixta</option>
                                                        <option value="Otra">Otra</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Actividad Económica:</label>
                                                    <input [(ngModel)]="actividad_economica" name="actividadEc"
                                                        type="text" id="firstName" class="form-control"
                                                        placeholder="Actividad" required>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <h4><b>Datos de la Persona a Cargo</b></h4>
                                        <hr>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Persona a Cargo:</label>
                                                    <input [(ngModel)]="nombre_persona" name="persona" type="text"
                                                        id="firstName" class="form-control" placeholder="Nombre"
                                                        required>
                                                </div>
                                            </div>

                                            <div class="col-md-6">

                                                <div class="form-group">
                                                    <label class="control-label">Correo Electrónico:</label>
                                                    <input [(ngModel)]="correo_persona" name="correo" type="text"
                                                        id="firstName" class="form-control" placeholder="Correo"
                                                        required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Puesto:</label>
                                                    <input [(ngModel)]="cargo_persona" name="puesto" type="text"
                                                        id="firstName" class="form-control" placeholder="Puesto"
                                                        required>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Teléfono:</label>
                                                    <input [(ngModel)]="telefono_persona" name="telPersona" type="text"
                                                        id="firstName" class="form-control" placeholder="Teléfono"
                                                        required>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Estado:</label>
                                                    <select [(ngModel)]="estado" name="estado"
                                                        class="form-control custom-select" required>
                                                        <option value="Activa">Activa</option>
                                                        <option value="Inactiva">Inactiva</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="modal-footer">
                                            <button type="button" class="btn btnDanger waves-effect text-left"
                                                data-dismiss="modal">Cancelar <i class="fa fa-times"></i></button>
                                            <button type="submit" class="btn btnInfo waves-effect text-left"><b>
                                                    Actualizar
                                                    <i class="mdi mdi-update"></i></b></button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                </div>



                <div class="col-12" style="margin-left: -15px;">

                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <input #dataBuscar (keyup)="getDataBuscar(dataBuscar.value)" name="dataBuscar"
                                    type="text" id="firstName" class="form-control"
                                    placeholder="Busca la empresa por Nombre o Estado">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-actions">
                                <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg"
                                    class="btn btnSuccess btn-block"> <b> Añadir Empresa &nbsp;<i
                                            class="fa fa-plus"></i> </b></button>
                            </div>
                        </div>
                    </div>

                </div>

                <br>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><b>Empresa</b></th>
                                <th><b>Teléfono</b></th>
                                <th><b>Naturaleza</b></th>
                                <th><b>Convenio</b></th>
                                <th><b>Estado</b></th>
                                <th><b>Acción</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dato of convenios">
                                <td>{{ dato.empresa.nombre }}</td>
                                <td>{{ dato.empresa.telefono }}</td>
                                <td>{{ dato.empresa.naturaleza }}</td>
                                <td>{{ dato.rutapdf }}</td>
                                <td *ngIf="dato.estado == 'Activo'" class="text-success"><span
                                        class="label btnSuccess"> <b> {{ dato.estado }} </b></span>
                                </td>
                                <td *ngIf="dato.estado == 'Inactivo'" class="text-danger"><span
                                        class="label btnDanger"> <b> {{ dato.estado }} </b></span>
                                </td>
                                <td>
                                    <button (click)="getDataPut(dato)" data-toggle="modal"
                                        data-target=".modal-actualizar"
                                        class="btn btnInfo waves-effect text-left"><b>
                                            <i class="mdi mdi-update"></i></b></button>&nbsp;
                                    <button (click)="deleteEmpresa(dato)" type="button"
                                        class="btn btnSuccess waves-effect text-left" data-dismiss="modal"> <i
                                            class="fa fa-times"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>