<div id="main-wrapper">
    <!-- Selector del header -->
    <app-navbar-inscripcion></app-navbar-inscripcion>
    <div class="container-fluid">

        <div class="row">
            <div class="col-9" id="main"><br><br>
                <h1 class="text-center text-capitalize">Bienvenido al módulo de Pasantía supervisada </h1>
                <div class="text-center">
                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. quis
                        nostrud exercitation ullamco laboris
                    </small>
                </div>
                <br>
                <br>

                <div class="row">
                    <div class="col-md-6">
                        <div class=" card-info border border-secondary rounded ">
                            <h6 class="card-header text-uppercase " style="background-color: #8F141B; color: #ffffff; ">
                                <b>Inscribir Mi Pasantía</b> </h6>
                            <div class="card-body " style="border-color: #8F141B; ">

                                <p>Podrás elegir una de las empresas que tienen convenio con la Universidad</p><br>

                                <div class="text-right">
                                    <div class="btnSolicitud ">
                                        <button routerLink="/preinscripcion-pasantia" class="btn btn-sm"
                                            style="background-color: #8F141B; color: #ffffff; "><i
                                                class="fa fa-clipboard "></i>&nbsp;
                                            <b>Inscribir Pasantía</b> </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class=" card-info border border-secondary rounded ">
                            <h6 class="card-header text-uppercase " style="background-color: #8F141B; color: #ffffff; ">
                                <b>Gestionar Mi Pasantía</b> </h6>
                            <div class="card-body " style="border-color: #8F141B; ">

                                <p class=""> Podrás realizar tu pasantía en una empresa que no tenga convenio con la
                                    Universidad.
                                    Deberás gestionar el convenio
                                </p>

                                <div class="text-right">
                                    <div class="btnSolicitud">
                                        <button routerLink="/inscripcion-propuesta" class="btn btn-sm"
                                            style="background-color: #8F141B; color: #ffffff; "><i
                                                class="fa fa-clipboard "></i>&nbsp;
                                            <b>Gestionar Pasantía</b> </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="text-center">
                    <br>
                    <img src="https://www.usco.edu.co/imagen-institucional/logo/universidad-surcolombiana-v.png" alt="">
                    <br><br>
                    <small><b> Institución de Educación Superior sujeta a inspección y vigilancia del Ministerio de
                            Educación Nacional</b></small><br>

                    <small>NIT: 891180084-2 <br>
                        Horario de atención al público: <br>
                        Lunes a viernes de 8:00 a.m. a 12:00 m. y de 2:00 p.m. a 6:00 p.m. <br>
                        Línea Gratuita Nacional: 018000 968722 <br>
                        Notificaciones Judiciales: notificacionesjudiciales@usco.edu.co</small> <br><br>

                    <img src="https://www.usco.edu.co/resources/images/icontec.png" alt="">

                </div>-->
            </div>
        </div>

    </div>

</div>