.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#line{
    width:240%;
    text-align:left;
    margin-left: -88px;
    margin-top: 40px;
}


.descargar a {
    text-decoration: none;
}