<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title text-uppercase"><b>Solicitudes </b></h3>
                <hr>

                <ng-container *ngIf="vacanteSelected !== undefined">
                    <div class="modal fade modal-info" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                        aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-7 col-lg-8">
                                            <h5><b class="text-uppercase">ID de la solicitud:</b> &nbsp; {{vacanteSelected._id}}</h5>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-5 col-lg-4">
                                            <h5><b>Estado: &nbsp;</b>
                                                <ng-container *ngIf="vacanteSelected.estado == 'PreInscrita'" class="text-success"><span
                                                    class="label btnInfo"> <b> {{ vacanteSelected.estado }} </b></span>
                                                </ng-container>
                                                <ng-container *ngIf="vacanteSelected.estado == 'Aprobada'" class="text-success"><span
                                                        class="label btnSuccess"> <b> {{ vacanteSelected.estado }} </b></span>
                                                </ng-container>
                                                <ng-container *ngIf="vacanteSelected.estado == 'Rechazada'" class="text-success"><span
                                                        class="label btnDanger"> <b> {{ vacanteSelected.estado }} </b></span>
                                                </ng-container>
                                            </h5>
                                        </div>
                                    </div>
                                    <br>
                                    <h5 class="text-uppercase"> <b>Información del estudiante:</b></h5>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                                            <i class="fa fa-user-circle-o"></i> &nbsp; <small class="text-uppercase">{{ vacanteSelected.estudiante.nombres }} {{vacanteSelected.estudiante.nombres }}</small>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                            <i class="fa fa-id-card"></i> &nbsp; <small class="text-justify">Cód:&nbsp; {{vacanteSelected.estudiante.codigo}}</small>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                            <i class="fa fa-id-card-o"></i> &nbsp; <small class="text-justify">ID:&nbsp; {{vacanteSelected.estudiante.identificacion}}</small>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                                            <i class="mdi mdi-email"></i> &nbsp;<small class="text-justify">Correo:&nbsp; {{vacanteSelected.estudiante.correo}}</small>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                            <i class="fa fa-phone"></i> &nbsp; <small class="text-justify">Tél:&nbsp; {{vacanteSelected.estudiante.telefono}}</small>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                            <i class="fa fa-phone"></i> &nbsp; <small class="text-justify">EPS:&nbsp; {{vacanteSelected.estudiante.eps}}</small>
                                        </div>
                                    </div>
                                    <hr>
                                    <h5 class="text-uppercase mt-3"> <b>Información de la vacante:</b> </h5>
                                        <div class="vacantesInfo">
                                            <small><i class="fa fa-briefcase"></i> &nbsp; {{vacanteSelected.vacante.titulo}} - {{vacanteSelected.empresa.nombre}} </small><br>
                                            <small><i class="fa fa-globe"></i> &nbsp; {{vacanteSelected.vacante.ubicacion}}, &nbsp;{{vacanteSelected.vacante.modalidad}}</small><br>
                                            <small><i class="fa fa-code"></i> &nbsp; {{vacanteSelected.vacante.funciones}}</small><br>
                                            <small><i class="fa fa-money"></i>  &nbsp; Pagada: &nbsp;{{vacanteSelected.vacante.pagada}}</small><br>
                                        </div>
                                    <div class="mt-3 ml-4">
                                        <h5 class="text-uppercase"> <b>Descripción:</b></h5>
                                        <p class="mt-2 ml-2">{{vacanteSelected.vacante.descripcion}}</p> 
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btnSuccess" data-dismiss="modal">Cerrar <i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </ng-container>

                <div class="col-12" style="margin-left: -15px;">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input #dataBuscar (keyup)="getDataBuscar(dataBuscar.value)" name="dataBuscar"
                                    type="text" id="firstName" class="form-control"
                                    placeholder="Busca la solicitud por Id, Estudiante o Empresa">
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <ng-container *ngFor="let dato of solicitudes">
                    <div *ngIf="(programa === dato.estudiante.programa)" class="row mt-2">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="vacantes">
                                <h5 class="text-uppercase"> <b>{{ dato.estudiante.nombres }}
                                        {{ dato.estudiante.apellidos }}</b></h5>
                                <small style="margin-top: -50px;"><i class="fa fa-briefcase"></i> &nbsp;
                                    {{ dato.vacante.titulo }} - {{dato.empresa.nombre}}
                                </small><br>
                                <small><i class="fa fa-globe"></i>&nbsp; &nbsp;{{dato.vacante.ubicacion}},
                                    {{dato.vacante.modalidad}}
                                </small><br>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 text-center">
                            <h5 class="text-uppercase"><b>Estado de la Solicitud:</b></h5>
                            <ng-container *ngIf="dato.estado == 'PreInscrita'" class="text-success"><span
                                    class="label btnInfo"> <b> {{ dato.estado }} </b></span>
                            </ng-container>

                            <ng-container *ngIf="dato.estado == 'Aprobada'" class="text-success"><span
                                    class="label btnSuccess"> <b> {{ dato.estado }} </b></span>
                            </ng-container>

                            <ng-container *ngIf="dato.estado == 'Rechazada'" class="text-success"><span
                                    class="label btnDanger"> <b> {{ dato.estado }} </b></span>
                            </ng-container>
                        </div>

                        <div class="col-12 col-sm-12 col-md-5 col-lg-5 text-center">
                            <div class="buttons">
                                <button type="button" (click)="getDataInfo(dato)" data-toggle="modal" data-target=".modal-info" class="btn btn btn-outline-info btn-sm mr-2">
                                    <i class="fa fa-info-circle"></i>
                                </button>
                                <button type="button" [disabled]="dato.estado == 'Aprobada'" (click)="getDataInfo(dato); aprobarSolicitud()" class="btn text-white mr-2" style="background-color: #6fbf73;">
                                    Aprobar
                                </button>
                                <button type="button" [disabled]="dato.estado == 'Rechazada'" (click)="getDataInfo(dato); rechazarSolicitud()" class="btn btnSuccess mr-2">
                                    Rechazar
                                </button>
                            </div>
                        </div>
                    </div><hr>
                </ng-container>
            </div>
        </div>
    </div>
</div>