<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title text-uppercase"><b> Todas las Propuestas </b></h3>
                <hr>

                <div class="modal fade modal-propuesta">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-7 col-lg-8">
                                        <h5><b class="text-uppercase">ID de la solicitud:</b> &nbsp; {{pasantiaSelected?._id}}</h5>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-5 col-lg-4">
                                        <h5><b>Estado: &nbsp;</b>
                                            <ng-container *ngIf="pasantiaSelected?.estado == 'Enviada'" class="text-success"><span
                                                class="label btnInfo"> <b> {{ pasantiaSelected?.estado }} </b></span>
                                            </ng-container>
                                            <ng-container *ngIf="pasantiaSelected?.estado == 'Aprobada'" class="text-success"><span
                                                    class="label btnSuccess"> <b> {{ pasantiaSelected?.estado }} </b></span>
                                            </ng-container>
                                            <ng-container *ngIf="pasantiaSelected?.estado == 'Rechazada'" class="text-success"><span
                                                    class="label btnDanger"> <b> {{ pasantiaSelected?.estado }} </b></span>
                                            </ng-container>
                                        </h5>
                                    </div>
                                </div>
                                <br>
                                <h5 class="text-uppercase"> <b>Información del estudiante:</b></h5>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                                        <i class="fa fa-user-circle-o"></i> &nbsp; <small class="text-uppercase">{{ pasantiaSelected?.estudiante.nombres }} {{pasantiaSelected?.estudiante.apellidos}}</small>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                        <i class="fa fa-id-card"></i> &nbsp; <small class="text-justify">Cód:&nbsp; {{pasantiaSelected?.estudiante.codigo}}</small>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                        <i class="fa fa-id-card-o"></i> &nbsp; <small class="text-justify">ID:&nbsp; {{pasantiaSelected?.estudiante.identificacion}}</small>
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                                        <i class="mdi mdi-email"></i> &nbsp;<small class="text-justify">Correo:&nbsp; {{pasantiaSelected?.estudiante.correo}}</small>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                        <i class="fa fa-phone"></i> &nbsp; <small class="text-justify">Tél:&nbsp; {{pasantiaSelected?.estudiante.telefono}}</small>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                        <i class="fa fa-phone"></i> &nbsp; <small class="text-justify">EPS:&nbsp; {{pasantiaSelected?.estudiante.eps}}</small>
                                    </div>
                                </div>
                                <ng-container *ngIf="pasantiaSelected?.vacante">
                                    <h5 class="mt-3"> <b>Información de la vacante:</b></h5>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-7 col-lg-7">
                                            <div class="vacantesInfo">
                                                <small><i class="fa fa-briefcase"></i> &nbsp; {{pasantiaSelected?.vacante.titulo}} - {{pasantiaSelected?.vacante.convenio.empresa.nombre}} </small><br>
                                                <small><i class="fa fa-globe"></i> &nbsp; {{pasantiaSelected?.vacante.ubicacion}}, &nbsp;{{pasantiaSelected?.vacante.modalidad}}</small><br>
                                                <small><i class="fa fa-code"></i> &nbsp; {{pasantiaSelected?.vacante.funciones}}</small><br>
                                                <small><i class="fa fa-money"></i>  &nbsp; Pagada: &nbsp;{{pasantiaSelected?.vacante.pagada}}</small><br>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                                            <h5 class="text-uppercase"> <b>Persona a Cargo:</b></h5>
                                            <i class="fa fa-user"></i> &nbsp; <small class="text-justify"> {{pasantiaSelected?.vacante.convenio.encargado.nombres}} {{pasantiaSelected?.vacante.convenio.encargado.apellidos}}</small><br>
                                            <i class="mdi mdi-email"></i> &nbsp;<small class="text-justify">{{pasantiaSelected?.vacante.convenio.encargado.correo}}</small><br>
                                            <i class="fa fa-phone"></i> &nbsp;<small class="text-justify"> {{pasantiaSelected?.vacante.convenio.encargado.telefono}}</small>
                                        </div>
                                    </div>
                                    <div class="mt-3 ml-4">
                                        <h5 class="text-uppercase"> <b>Descripción:</b></h5>
                                        <p class="mt-2 ml-2">{{pasantiaSelected?.vacante.descripcion}}</p> 
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="!pasantiaSelected?.vacante">
                                    <h5 class="mt-3"> <b>Información de empresa:</b></h5>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-7 col-lg-7">
                                            <div class="vacantesInfo">
                                                <small><i class="fa fa-briefcase"></i> &nbsp; {{pasantiaSelected?.convenio.empresa.nombre}} </small><br>
                                                <small><i class="fa fa-globe"></i> &nbsp; {{pasantiaSelected?.convenio.empresa.ciudad}}, &nbsp;{{pasantiaSelected?.convenio.empresa.direccion}}</small><br>
                                                <small><i class="fa fa-phone"></i> &nbsp; {{pasantiaSelected?.convenio.empresa.telefono}}</small><br>
                                                <small><i class="fa fa-money"></i>  &nbsp; Pagada: &nbsp;{{pasantiaSelected?.convenio.empresa.naturaleza}}</small><br>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                                            <h5 class="text-uppercase"> <b>Persona a Cargo:</b></h5>
                                            <i class="fa fa-user"></i> &nbsp; <small class="text-justify"> {{pasantiaSelected?.convenio.encargado.nombres}} {{pasantiaSelected?.convenio.encargado.apellidos}}</small><br>
                                            <i class="mdi mdi-email"></i> &nbsp;<small class="text-justify">{{pasantiaSelected?.convenio.encargado.correo}}</small><br>
                                            <i class="fa fa-phone"></i> &nbsp;<small class="text-justify"> {{pasantiaSelected?.convenio.encargado.telefono}}</small>
                                        </div>
                                    </div>
                                </ng-container>
                                <div class="modal-footer mt-3">
                                    <button type="button" class="btn btnSuccess" data-dismiss="modal">Cerrar <i class="fa fa-times"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal rechazar-->
                <div class="modal fade" id="rechazarModal">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                        
                            <!-- Modal Header -->
                            <div class="modal-header text-center text-light" style="background-color: #8F141B;">
                                <h4 class="modal-title text-light">Rechazar solicitud</h4>
                                <button id="btnCloseRechazar" type="button" class="close" data-dismiss="modal" style="color:#ffff">&times;</button>
                            </div>
                            
                            <!-- Modal body -->
                            <div class="modal-body">
                                Estas a punto de rechazar la solicitud de pasantia de <span class="text-capitalize">{{pasantiaSelected?.estudiante.nombres}} {{pasantiaSelected?.estudiante.apellidos}}</span>
                                <form ngNativeValidate #rechazar="ngForm" (ngSubmit)="rechazarSolicitud(rechazar)">
                                    <label class="control-label mt-2">
                                        <h5> <b class="text-uppercase">Notas</b> (escribe el motivo del rechazo) <b>:</b></h5>
                                    </label>
                                    <textarea [(ngModel)]="notas" name="notas" class="form-control" rows="5" placeholder="Notas Para el Estudiante" required></textarea>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btnSuccess btn-block">Rechazar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal aprobar-->
                <div class="modal fade" id="AprobarModal">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                        
                            <!-- Modal Header -->
                            <div class="modal-header text-white" style="background-color: #357a38;">
                                <h4 class="modal-title text-white">Aprobar solicitud</h4>
                                <button id="btnCloseAprobar" type="button" class="close" data-dismiss="modal" style="color:#ffff">&times;</button>
                            </div>
                            
                            <!-- Modal body -->
                            <div class="modal-body">
                                Estas a punto de aprobar la solicitud de pasantia de <span class="text-capitalize">{{pasantiaSelected?.estudiante.nombres}} {{pasantiaSelected?.estudiante.apellidos}}</span>
                                <form ngNativeValidate #aprobar="ngForm" (ngSubmit)="aprobarSolicitud(aprobar)">
                                    <label class="control-label mt-2">
                                        <h5 class="text-uppercase"> <b>Asiganar tutor:</b> </h5>
                                    </label>
                                    <select name="tutor" class="form-control custom-select" id="tutorSelected" (change)="getTutorSelected()" required>
                                        <option value="" selected>Selecciona un tutor...</option>
                                        <ng-container *ngFor="let tutor of tutores">
                                            <option value="{{tutor._id}}">{{tutor.nombres}} {{tutor.apellidos}}</option>
                                        </ng-container>
                                    </select>
                                    <label class="control-label mt-2">
                                        <h5 class="text-uppercase"> <b>Notas:</b> </h5>
                                    </label>
                                    <textarea [(ngModel)]="notas" name="notas" class="form-control" rows="5" placeholder="Notas Para el Estudiante"></textarea>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-block text-white" style="background-color: #4caf50">Aprobar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12" style="margin-left: -15px;">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input #dataBuscar (keyup)="getDataBuscar(dataBuscar.value)" name="dataBuscar"
                                    type="text" id="firstName" class="form-control"
                                    placeholder="Busca la solicitud por Id, Estudiante o Empresa">
                            </div>
                        </div>
                    </div>
                </div>

                <ng-container *ngFor="let dato of propuestas">
                    <ng-container *ngIf="dato.estado === 'Enviada'">
                        <div class="row">
                            <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                <div class="vacantes">
                                    <h5 class="text-uppercase"> <b>{{ dato.estudiante.nombres }}
                                            {{ dato.estudiante.apellidos }}</b></h5>
                                    <small *ngIf="dato.vacante"><i class="fa fa-briefcase"></i> &nbsp;
                                        {{dato.vacante.convenio.empresa.nombre}}
                                    </small><br *ngIf="dato.vacante">
                                    <small *ngIf="!dato.vacante"><i class="fa fa-briefcase">
                                        </i> &nbsp; {{dato.convenio.empresa.nombre}}
                                    </small>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-2 col-lg-2 mt-2">
                                <a href="#{{dato._id}}" data-toggle="collapse">Ver mas <i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                        <div id="{{dato._id}}" class="collapse mt-2">
                            <div class="d-flex justify-content-end pr-5">
                                <button class="btn descargar btnSuccess mb-2 mr-3">
                                    <a class="btnSuccess" [href]="dato.documento_propuesta | documento: dato.estudiante._id" download="dato.documento_propuesta" target="_blank">
                                        <small><b><i class="fa fa-file-pdf-o"></i>&nbsp; Ver Propuesta</b></small>
                                    </a>
                                </button>
                                <button class="btn descargar btnSuccess mb-2 mr-5">
                                    <a class="btnSuccess" [href]="dato.documento_fichaAcademica | documento: dato.estudiante._id" download="dato.documento_fichaAcademica" target="_blank">
                                        <small><b><i class="fa fa-file-pdf-o"></i>&nbsp; Ver Ficha</b></small>
                                    </a>
                                </button>                            
                                <div class="buttons mb-3 ml-5">
                                    <button type="button" (click)="getDataInfo(dato)" data-toggle="modal" data-target=".modal-propuesta" class="btn btn btn-outline-info btn-sm mr-2">
                                        <i class="fa fa-info-circle" style="font-size: 20px;"></i>
                                    </button>
                                    <button type="button" [disabled]="dato.estado == 'Aprobada'" (click)="getDataInfo(dato)" class="btn text-white mr-2" data-toggle="modal" data-target="#AprobarModal" style="background-color: #6fbf73;">
                                        Aprobar
                                    </button>
                                    <button type="button" [disabled]="dato.estado == 'Rechazada'" (click)="getDataInfo(dato)" class="btn btnSuccess mr-2" data-toggle="modal" data-target="#rechazarModal">
                                        Rechazar
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<img id='headerUsco' src='../../../../assets/images/headerUsco.png' style='display:none'/>
<img id='footerUsco' src='../../../../assets/images/footerUsco.png' style='display:none'/>
<!--
<img id='firmaJefe' src='../../../../assets/images/fima_jefe.jpeg' style='display:none'/>
-->