<div class="p-3" style="background-color: white;">

    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                <input #dataBuscar (keyup)="getDataBuscar(dataBuscar.value)" name="dataBuscar"
                    type="text"  class="form-control"
                    placeholder="Busca la empresa por Nombre o Estado">
            </div>
        </div>
    
        <div class="col-md-3">
            <div class="form-actions">
                <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg" class="btn btnSuccess btn-block" data-keyboard="false"> 
                    <b> Añadir convenio &nbsp;<i class="fa fa-plus"></i> </b></button>
            </div>
        </div>
    </div>
    
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th><b>Empresa</b></th>
                    <th><b>Encargado</b></th>
                    <th><b>Programa</b></th>
                    <th><b>Convenio</b></th>
                    <th><b>Estado</b></th>
                    <th><b>Acción</b></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dato of convenios">
                    <td>{{ dato.empresa.nombre }}</td>
                    <td>{{ dato.encargado.nombres }} {{ dato.encargado.apellidos }}</td>
                    <td>{{ dato.programa.nombre }}</td>
                    <td>
                        <ng-container *ngIf="dato.rutapdf">
                            <button class="btn btn-sm descargar btnSuccess mb-2 mr-3">
                                <a class="btnSuccess" [href]="dato.rutapdf | documentoConvenio: dato.empresa._id" download="dato.rutapdf" target="_blank">
                                    <small><b><i class="fa fa-file-pdf-o"></i>&nbsp; Ver convenio</b></small>
                                </a>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="!dato.rutapdf">
                            <p>No hay archivo</p>
                        </ng-container>
                    </td>
                    <td *ngIf="dato.estado == 'Activo'" class="text-success"><span
                            class="label btn-success"> <b> {{ dato.estado }} </b></span>
                    </td>
                    <td *ngIf="dato.estado == 'Inactivo'" class="text-danger"><span
                            class="label btnDanger"> <b> {{ dato.estado }} </b></span>
                    </td>
                    <td>
                        <button *ngIf="dato.estado == 'Activo'" type="button" class="btn btn-sm btnSuccess mr-2">
                            Desactivar <i class="fa fa-ban"></i>
                        </button>
                        <button *ngIf="dato.estado == 'Inactivo'" type="button" class="btn btn-danger">Activar</button>
                        <button type="button" class="btn btn-info mr-2"><i class="fa fa-edit"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


