<aside class="left-sidebar" *ngIf="menuEstudiante == false">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li *ngFor="let item of menu"> 
                    <a  *ngIf="item.submenu; else sinSubmenu" class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="{{item.icono}}"></i>&nbsp;<span class="hide-menu">{{item.titulo}}</span>
                    </a>
                    <ng-template #sinSubmenu>
                        <a [routerLink]="[item.url]" routerLinkActive="nav-link" style="background-color: transparent;">
                            <i class="{{item.icono}}"></i>&nbsp;<span class="hide-menu">{{item.titulo}}</span>
                        </a>
                    </ng-template>
                    <ng-container *ngIf="item.submenu">
                        <ul aria-expanded="false" class="collapse">
                            <li *ngFor="let submenu of item.submenu">
                                <a [routerLink]="[submenu.url]" routerLinkActive="active">{{submenu.titulo}} </a>
                            </li>
                        </ul>
                    </ng-container>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>

<aside class="left-sidebar" *ngIf="menuEstudiante && pasantia">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                
                <li>
                    <a *ngIf="pasantia?.aprobacionEmpresa === false && pasantia?.estado ==='Rechazada'; else elsePreinscripcion" routerLink="/preinscripcion-pasantia" routerLinkActive="active" aria-expanded="false">
                        <i class="fa fa-check-square-o"></i><span class="hide-menu">Pre-Inscripción</span>
                    </a>
                    <ng-template #elsePreinscripcion>
                        <a class="isDisabled text-white" aria-expanded="false">
                            <i class="fa fa-check-square-o"></i><span class="hide-menu">Pre-Inscripción</span>
                        </a>
                    </ng-template> 
                </li>
                <li> 
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="fa fa-book"></i><span class="hide-menu">Propuesta</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngIf="(pasantia?.estado ==='PreInscrita' && pasantia?.aprobacionEmpresa === true); else elsePropuesta">
                            <a routerLink="/inscripcion-propuesta" routerLinkActive="active">Inscripción de Propuesta</a>
                        </li>

                        <ng-template #elsePropuesta>
                            <li><a class="isDisabled text-white">Propuesta</a></li>
                        </ng-template>

                    </ul>
                </li>
                <li> 
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="fa fa-flag"></i><span class="hide-menu">Inicio Pasantia</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngIf="pasantia?.estado_propuesta; else elseInicio">
                            <a routerLink="/acta-inicio" routerLinkActive="active">Inicio Pasantia</a>
                        </li>
                        <ng-template #elseInicio>
                            <li><a class="isDisabled text-white">Inicio Pasantia</a></li>
                        </ng-template>
                    </ul>
                </li>
                <!-- ============================================================== -->
                <!--                Bloqueo de  Envío de documentos                 -->
                <!-- ============================================================== -->
                <li> 
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="fa fa-file-pdf-o"></i><span class="hide-menu">Informe - Semana 7</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngIf="(diff >= 7 && pasantia?.estado === 'En ejecución' && !pasantia?.estado_informe7) || pasantia?.estado_informe7 === 'Ajustar'; else elseInforme7">
                            <a routerLink="/informe-siete" routerLinkActive="active">Enviar Informe</a>
                        </li>
                        <ng-template #elseInforme7>
                            <li><a class="isDisabled text-white">Informe 7</a></li>
                        </ng-template>
                    </ul>
                </li>
                <li> 
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="fa fa-file-text-o"></i><span class="hide-menu">Informe - Semana 14</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngIf="(diff >= 14 && pasantia?.estado === 'En ejecución' && !pasantia?.estado_informe14) || pasantia?.estado_informe14 === 'Ajustar'; else elseInforme14">
                            <a routerLink="/informe-catorce" routerLinkActive="active">Enviar Informe</a>
                        </li>
                        <ng-template #elseInforme14>
                            <li><a class="isDisabled text-white">Informe 14</a></li>
                        </ng-template>
                    </ul>
                </li>
                <li> 
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="fa fa-file-word-o"></i><span class="hide-menu">Informe Final</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngIf="(diff >= 24 && pasantia?.estado === 'En ejecución' && !pasantia?.estado_informeFinal) || pasantia?.estado_informeFinal === 'Ajustar'; else elseInformeFinal">
                            <a routerLink="/informe-final" routerLinkActive="active">Enviar Informe</a>
                        </li>
                        <ng-template #elseInformeFinal>
                            <li><a class="isDisabled text-white">Informe Final</a></li>
                        </ng-template>
                    </ul>
                </li>
                <li *ngIf="pasantia?.estado_informeFinal === 'Aprobado'">                    
                    <a [routerLink]="['/sustentacion-pasantia']" routerLinkActive="nav-link" style="background-color: transparent;">
                        <i class="fa fa-legal"></i>&nbsp;<span class="hide-menu">Sustentación</span>
                    </a>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="fa fa-info-circle"></i><span class="hide-menu">Estado de mi Modalidad</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="/mi-modalidad" routerLinkActive="active">Ver estado</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</aside>

<aside class="left-sidebar" *ngIf="menuEstudiante && proyecto">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-small-cap"><b> FASES DE LA MODALIDAD </b></li>
                <li>
                    <a class="isDisabled text-white" aria-expanded="false" routerLink="/anteProyecto">
                        <i class="fa fa-file-pdf-o"></i><span class="hide-menu">Ante-Proyecto</span>
                    </a>
                </li>
                <li>
                    <a class="isDisabled text-white" aria-expanded="false" routerLink="/proyecto">
                        <i class="fa fa-file-pdf-o"></i><span class="hide-menu">Proyecto</span>
                    </a>
                </li>
                <li>
                    <a class="isDisabled text-white" aria-expanded="false" routerLink="/documento final">
                        <i class="fa fa-file-pdf-o"></i><span class="hide-menu">Documento Final</span>
                    </a>
                </li>
                <li>
                    <a class="text-white" aria-expanded="false" routerLink="/mi-modalidad">
                        <i class="fa fa-info-circle"></i><span class="hide-menu">Estado de mi Modalidad</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>

<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->