<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" *ngIf="menuJefePrograma">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-small-cap"><b>Modalidades de Grado</b> </li>
                <li *ngFor="let menu of menuJefePrograma"> <a class="has-arrow waves-effect waves-dark" href="#"
                        aria-expanded="false"><i class="{{menu.icono}}"></i>&nbsp;<span
                            class="hide-menu">{{menu.titulo}}
                            <span id="number"
                                class="label label-rouded label-themecolor pull-right">{{menu.submenu.length}}</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let submenu of menu.submenu"><a [routerLink]="[submenu.url]"
                                routerLinkActive="active">{{submenu.titulo}} </a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>

<aside class="left-sidebar" *ngIf="menuAdmin">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-small-cap"><b>Perfiles</b> </li>
                <li *ngFor="let menu of menuAdmin"> <a class="has-arrow waves-effect waves-dark" href="#"
                        aria-expanded="false"><i class="{{menu.icono}}"></i>&nbsp;<span
                            class="hide-menu">{{menu.titulo}}
                            <span id="number"
                                class="label label-rouded label-themecolor pull-right">{{menu.submenu.length}}</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let submenu of menu.submenu"><a [routerLink]="[submenu.url]"
                                routerLinkActive="active">{{submenu.titulo}} </a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>

<aside class="left-sidebar" *ngIf="menuEncargadoEmpresa">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-small-cap"><b>Perfiles</b> </li>
                <li *ngFor="let menu of menuEncargadoEmpresa"> <a class="has-arrow waves-effect waves-dark" href="#"
                        aria-expanded="false"><i class="{{menu.icono}}"></i>&nbsp;<span
                            class="hide-menu">{{menu.titulo}}
                            <span id="number"
                                class="label label-rouded label-themecolor pull-right">{{menu.submenu.length}}</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let submenu of menu.submenu"><a [routerLink]="[submenu.url]"
                                routerLinkActive="active">{{submenu.titulo}} </a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>

<aside class="left-sidebar" *ngIf="menuTutor">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-small-cap"><b>Tutorías de Grado</b> </li>
                <li *ngFor="let menu of menuTutor"> <a class="has-arrow waves-effect waves-dark" href="#"
                        aria-expanded="false"><i class="{{menu.icono}}"></i>&nbsp;<span
                            class="hide-menu">{{menu.titulo}}
                            <span id="number"
                                class="label label-rouded label-themecolor pull-right">{{menu.submenu.length}}</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let submenu of menu.submenu"><a [routerLink]="[submenu.url]"
                                routerLinkActive="active">{{submenu.titulo}} </a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>

<!--<aside class="left-sidebar" *ngIf="menuEstudiante">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-small-cap"><b>Fases de la Modalidad</b> </li>
                <li *ngFor="let menu of menuEstudiante"> <a class="has-arrow waves-effect waves-dark" href="#"
                        aria-expanded="false"><i class="{{menu.icono}}"></i>&nbsp;<span
                            class="hide-menu">{{menu.titulo}}
                        </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let submenu of menu.submenu"><a [routerLink]="[submenu.url]"
                                routerLinkActive="active">{{submenu.titulo}} </a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>-->

<aside class="left-sidebar" *ngIf="menuEstudiante">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-small-cap"><b> FASES DE LA MODALIDAD </b></li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="fa fa-check-square-o"></i><span class="hide-menu">Pre-Inscripción </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a routerLink= "/mi-modalidad" *ngIf="aprobacionEmpresa === true" class="isDisabled">Enviar
                                Pre-Inscripción
                            </a>
                            <a  *ngIf="aprobacionEmpresa === false" routerLink="/preinscripcion-pasantia" routerLinkActive="active">Enviar
                                Pre-Inscripción
                            </a>
                        </li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="fa fa-book"></i><span class="hide-menu">Propuesta</span></a>
                    <ul aria-expanded="false" class="collapse">

                        <li *ngIf="EstadoPreInsc ==='PreInscrita' && aprobacionEmpresa === false">
                            <a routerLink="/mi-modalidad" class="isDisabled">Inscripción de Propuesta</a>
                        </li>

                        <li *ngIf="EstadoPreInsc ==='PreInscrita' && aprobacionEmpresa === true">
                            <a routerLink="/inscripcion-propuesta" routerLinkActive="active">Inscripción de Propuesta</a>
                        </li>

                        <li *ngIf="EstadoPropuesta ==='Rechazada'">
                            <a routerLink="/inscripcion-propuesta" routerLinkActive="active">Inscripción de Propuesta</a>
                        </li>

                        <li *ngIf="EstadoPropuesta ==='Enviada'">
                            <a routerLink="/mi-modalidad" class="isDisabled">Inscripción de Propuesta</a>
                        </li>

                        <li *ngIf="EstadoPropuesta ==='Aprobada'">
                            <a routerLink="/mi-modalidad" class="isDisabled">Inscripción de Propuesta</a>
                        </li>

                    </ul>
                </li>

                <!-- ============================================================== -->
                <!--                Bloqueo de  Envío de documentos                 -->
                <!-- ============================================================== -->
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="fa fa-file-pdf-o"></i><span class="hide-menu">Informe - Semana 7</span></a>
                    <ul aria-expanded="false" class="collapse">

                        <li *ngIf="!EstadoInforme7 && EstadoPropuesta === 'Aprobada' && EstadoPreInsc === 'En ejecución'"><a routerLink="/informe-siete"
                                routerLinkActive="active">Enviar Informe
                            </a></li>

                        <li  *ngIf="EstadoPropuesta !== 'Aprobada' && EstadoPreInsc !== 'En ejecución'"><a routerLink="/mi-modalidad"
                            routerLinkActive="active">Enviar Informe
                        </a></li>

                        <li *ngIf="EstadoInforme7 ==='Rechazado'"><a routerLink="/informe-siete"
                                routerLinkActive="active">Enviar Informe
                            </a></li>

                        <li *ngIf="EstadoInforme7 ==='Enviado'"><a class="isDisabled" routerLink="/mi-modalidad"
                                routerLinkActive="active">Enviar Informe
                            </a></li>

                        <li *ngIf="EstadoInforme7 ==='Aprobado'"><a routerLink="/mi-modalidad"
                                routerLinkActive="active">Enviar Informe
                            </a></li>

                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="fa fa-file-text-o"></i><span class="hide-menu">Informe - Semana 14</span></a>
                    <ul aria-expanded="false" class="collapse">

                        <li *ngIf="!EstadoInforme14 && EstadoInforme7 ==='Aprobado'"><a routerLink="/informe-catorce"
                                routerLinkActive="active">Enviar Informe
                            </a></li>
                        
                            <li *ngIf="!EstadoInforme14 && EstadoInforme7 !== 'Aprobado'"><a class="isDisabled" routerLink="/mi-modalidad"
                                routerLinkActive="active">Enviar Informe
                            </a></li>

                        <li *ngIf="EstadoInforme14 ==='Rechazado'"><a routerLink="/informe-catorce"
                                routerLinkActive="active">Enviar Informe
                            </a></li>

                        <li *ngIf="EstadoInforme14 ==='Enviado'"><a class="isDisabled" routerLink="/mi-modalidad"
                                routerLinkActive="active">Enviar Informe
                            </a></li>

                        <li *ngIf="EstadoInforme14 ==='Aprobado'"><a routerLink="/mi-modalidad"
                                routerLinkActive="active">Enviar Informe
                            </a></li>

                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="fa fa-file-word-o"></i><span class="hide-menu">Informe Final</span></a>
                    <ul aria-expanded="false" class="collapse">

                        <li *ngIf="!EstadoInformeFinal && EstadoInforme14 === 'Aprobado'"><a routerLink="/informe-final"
                                routerLinkActive="active">Enviar Informe
                            </a></li>

                        <li *ngIf="!EstadoInformeFinal &&  EstadoInforme14 !== 'Aprobado'"><a class="isDisabled" routerLink="/mi-modalidad"
                            routerLinkActive="active">Enviar Informe
                        </a></li>

                        <li *ngIf="EstadoInformeFinal ==='Rechazado'"><a routerLink="/informe-final"
                                routerLinkActive="active">Enviar Informe
                            </a></li>

                        <li *ngIf="EstadoInformeFinal ==='Enviado'"><a class="isDisabled" routerLink="/mi-modalidad"
                                routerLinkActive="active">Enviar Informe
                            </a></li>

                        <li *ngIf="EstadoInformeFinal ==='Aprobado'"><a routerLink="/mi-modalidad"
                                routerLinkActive="active">Enviar Informe
                            </a></li>

                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="fa fa-info-circle"></i><span class="hide-menu">Estado de mi Modalidad</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="/mi-modalidad" routerLinkActive="active">Ver estado</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</aside>

<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->