<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register pt-5">
    <div class="login-box card" style="padding: 0%;">
        <div class="card-body" style="padding: 0%;">
            <form ngNativeValidate #f="ngForm" (ngSubmit)="ingresar(f)" class="floating-labels" id="loginform">
                <a href="https://www.usco.edu.co/es/" class="text-center db"><img src="../assets/images/logos/logo-vertical-usco.png" alt="Home" /></a>
                <br>
                <div class="textTitle px-5 py-3">
                    <p id="textoLog">INSCRIPCIÓN DE MODALIDAD DE GRADO</p>
                </div>
                <div class="mt-5 px-3">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input [(ngModel)]="usuario" name="usuario" id="inputUsuario" class="form-control floating-labels" type="text" required>
                            <span class="bar"></span>
                            <label for="inputUsuario">Usuario</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input ngModel name="contrasena" id="inputContra" class="form-control" type="password" required>
                            <span class="bar"></span>
                            <label for="inputContra">Contraseña</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-primary pull-left p-t-0">
                                <input [(ngModel)]="recordar" name="recordar" id="checkbox-signup" type="checkbox" class="filled-in chk-col-red">
                                <label for="checkbox-signup"> Recordarme </label>
                            </div>
                            <a href="https://www.usco.edu.co/cambio_clave/ " id="to-recover " class="text-dark pull-right "><i class="fa fa-lock m-r-5 "></i> Olvidé Mi Contraseña</a> 
                        </div>
                    </div>
                    <div class="form-group text-center mt-5 px-5">
                        <button class="btn btn-md btn-block btnLogin text-uppercase" type="submit "><b>INGRESAR</b></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->