.login-register {
    height: 100%;
    width: 100%;
    position: fixed;
    background: url('src/assets/images/background/USCO-Huila.jpg') no-repeat center fixed;
    background-size: cover;
}

.login-box {
    width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-box .footer {
    width: 100%;
    left: 0px;
    right: 0px;
}

.login-box .social {
    display: block;
    margin-bottom: 30px;
}

#recoverform {
    display: none;
}

.login-sidebar {
    padding: 0px;
    margin-top: 0px;
}

.login-sidebar .login-box {
    right: 0px;
    position: absolute;
    height: 100%;
}

#textoLog {
    text-align: center;
    color: darkslategrey;
    font-weight: bold;
}

.textTitle {
    background-color: #DFD4A6;
    height: auto;
    width: 100%;
    align-items: center;
}

.btnLogin {
    background-color: #8F141B;
    border-color: #8F141B;
    color: #ffffff;
}

button.btnLogin:hover{
    background-color: #28a745;
    border-color: #28a745;
    color: #ffffff;
}

#checkbox-signup {
    background-color: #8F141B;
}


/* RESPONSIVE */

@media only screen and (max-width: 576px) {
    .login-box {
        width: auto;
        position: relative;
        margin: 0 auto;
    }
}