.login-register {
    background-size: 1000px 650px;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 10% 0;
    position: fixed;
}

.requisitos-box {
    width: 650px;
    margin: 0 auto;
    margin-top: -45px;
    border-radius: 10px;
    background-color: #ffffff;
    align-items: center;
}

.list-box li {
    text-decoration: none;
}

.botones-aceptar button {
    background-color: #8F141B;
    border-color: #8F141B;
}

#icon-check {
    color: green;
}

#icon-mal {
    color: #8F141B;
}


/* Responsive */

@media only screen and (max-width: 479px) {
    .requisitos-box {
        width: 400px;
        position: relative;
        margin: 0 auto;
        margin-top: 85px;
    }
    .botones-aceptar button {
        margin-top: 10px;
    }
    #btnRegresar {
        margin-left: 17px;
        width: 238px;
    }
}