<div class="p-3" style="background-color: white;">
    <ng-container *ngIf="pasantia?.sustentacion_fecha">
        <div class="row py-5 text-center">
            <h6><i class="fa fa-calendar-check-o"></i>Fecha: {{pasantia?.sustentacion_fecha}}</h6>
            <h6><i class="fa fa-clock-o"></i>Hora: {{pasantia?.sustentacion_fecha}}</h6>
            <h6><i class="fa fa-map-marker"></i>Fecha: {{pasantia?.sustentacion_lugar}}</h6>
            <h6><i class="fa fa-legal"></i>Jurados asignados:</h6>
            <ul>
                <li>{{pasantia?.jurado1.nombres}} {{pasantia?.jurado1.apellidos}}</li>
                <li>{{pasantia?.jurado2.nombres}} {{pasantia?.jurado2.apellidos}}</li>
            </ul>
        </div>
    </ng-container>
    <ng-container *ngIf="!pasantia?.sustentacion_fecha ">
        <div class="container-main">
            <div class="center">
              <h2>No te han asignado sustención</h2>
            </div>
        </div>
    </ng-container>
</div>
